<script>
  function inputFocus(i){
  if(i.value==i.defaultValue){ i.value=""; i.style.color="#000";
    }
  }
  function inputBlur(i){
    if(i.value==""){ i.value=i.defaultValue; i.style.color="#000";
    }
  }
</script>

<div id="profile_options">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: user_path(resource.id), html: { id: "basic_form", method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <% u = current_user %>
    <%= render :partial => "user_form", :locals => { :f => f, :first => u.first_name, :last => u.last_name, :email => u.email } %>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <div id="bottom_options">
    <%= render "profile_options" %>
  </div>
</div>