<li>
  <%= form_tag user_path(user) do %>
    <div id="user">
      <%= hidden_field_tag(:user_id, user.id) %>
      <%= button_tag("#{user.first_name} #{user.last_name}") %>
    </div>
  <% end %>
    
  <% if !@friends.nil? && !@friends.include?(user) %>
    <%= form_tag friendships_add_path do %>
      <div id="add_friend">
        <%= hidden_field_tag(:friend_id, user.id) %>
        <%= button_tag("add") %>
      </div>
    <% end %>
  <% end %>
</li>