<div id="lower_screen">
  <div id="left_wrapper">
    <div id="user_profile">
      <%= gravatar_for @profile_owner %>
      <div id="display_name">
        <%= @profile_owner_name %>
      </div>

      <% if @browser.id == @profile_owner.id %>
        <div id="left_profile_options">
          <div id="pencil_image">
            <%= image_tag "pencil" %>
          </div>
          <p>Profile Options</p>
          <ul>
            <li>
              <%= link_to "Edit", users_edit_path(@browser.id) %>
            </li>
            <li>
              <%= link_to "Delete", users_destroy_path(@browser.id), data: { confirm: "Are you sure?" } %>  
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div id="center_wrapper">
    <div id="posts_and_wall">
      <div id="post_field">
        <div id="top_bar">
        </div>
        <%= form_for @post, url: posts_create_path do |f| %>
          <%= f.hidden_field :user_id, value: @browser.id %>
          <%= f.hidden_field :poster_name, value: @browser_name %>
          <%= f.hidden_field :likes, value: 0 %>
          <%= f.text_area :text, value: "What's on your mind?", onfocus: "inputFocus(this)", onblur: "inputBlur(this)" %>
          <div id="bottom_bar">
            <%= f.submit "Submit", :class => "button" %>
        <% end %>
          <% if @profile_owner == current_user %>
            <%= form_tag user_path(params[:id]) do %>
              <% if !session[:own_comments] || session[:own_comments] == "false" %>
                <%= hidden_field_tag(:own_comments, "true") %>
                <%= submit_tag "Show your own posts", class: :own_posts %>
              <% elsif session[:own_comments] && session[:own_comments] = "true" %>
                <%= hidden_field_tag(:own_comments, "false") %>
                <%= submit_tag "Show your friends' posts", class: :own_posts %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div id="wall"> 
        <%= render "wall_posts" %>
        <div id="bottom_spacer">
        </div>
      </div>
    </div>
  </div>
</div>