<div id="lower_screen">
  <div id="left_wrapper">
    <div id="user_profile">
      <%= gravatar_for @profile_owner %>
      <div id="display_name">
        <%= @profile_owner_name %>
      </div>

      <div id="profile_options">
        <% if @browser.id == @profile_owner.id %>
          <ul>
            <li><%= link_to "Edit", users_edit_path(@browser.id) %></li>
            <li><%= link_to "Delete", users_destroy_path(@browser.id) %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

  <div id="center_wrapper">
    <div id="posts_and_wall">
      <div id="post_field">
        <%= form_for @post, url: posts_create_path do |f| %>
          <%= f.hidden_field :user_id, value: @browser.id %>
          <%= f.hidden_field :poster_name, value: @browser_name %>
          <%= f.hidden_field :likes, value: 0 %>
          <div id="top_bar">
          <%= f.label "What's on your mind?" %> <br>
          </div>
          <%= f.text_area :text %>
          <div id="bottom_bar">
          <%= f.submit "Submit", :class => "button" %>
          </div>
        <% end %>
      </div>

      <div id="wall">
        <% @posts.each do |post| %>
          <div id="friends_post" class="user_post">
            <%= gravatar_for find_user_by_id(post.user_id) %>
            <div class="poster_name">
              <%= link_to post.poster_name, user_path(post.user_id) %>
            </div> <br>
            <div class="user_text">
              <%= post.text %><br>
            </div>
            <div class="post_likes">
              <% if post.likes && post.likes > 0 %>
                <%= link_to "#{post.likes} likes" %>
                <div id="users_who_liked">
                  <ul>
                    <% find_likers(post.id).each do |name| %>
                      <li><%= name %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
            <%= form_tag posts_like_path do %>
              <%= hidden_field_tag :user_id, @browser.id %>
              <%= hidden_field_tag :post_id, post.id %>
              <%= submit_tag "Like", :id => "like" %>
            <% end %>
            <input type='button' value='Comment' id='addButton'>
            <%= form_tag comments_new_path do %>
              <div id='CommentBoxesGroup'>
                <%= hidden_field_tag :user_id, @browser.id %>
                <%= hidden_field_tag :post_id, post.id %>
              </div>
            <% end %>
          </div>
          <% if !post.comments.empty? %>
            <div id="post_comments">
              <% post.comments.each do |comment| %>
                <div id="user_comment" class="user_post">
                  <%= gravatar_for find_user_by_id(comment.user_id) %>
                  <div id="commenter_name">
                    <%= link_to comment.poster_name, user_path(comment.user_id) %>
                  </div> <br>
                  <div class="user_text">
                    <%= comment.text %>
                  </div>
                  <div class="post_likes">
                    <%= comment.likes %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>