<div id="container">
  <div id="navbar">
    <% if user_signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= link_to "Sign out",  destroy_user_session_path %>
    <% else %>
      <%= link_to "Sign up", users_sign_up_path %> or <%= link_to "Sign in", new_user_session_path %> or <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>

    <div id="searchbar">
      <%= form_tag "/users/index" do %>
        <%= text_field_tag :name %>
        <%= submit_tag "Submit" %>
      <% end %>
    </div>

    <div id="notifications">
      <% if !@notifications.nil? %>
        <%= @notifications.each do |key, value| %>
          <% if !value.empty? %>
            <% value.each do |request| %>
              <%= "Friend request from #{request.user_name}" %>
              <%= link_to "Accept", friendships_create_path(request.id) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>