<div id="navbar">

  <div id="navbar_container_left">
    <div id="login_options">
      <% if user_signed_in? %>
        Signed in as: <%= current_user.email %>
        <%= link_to "Sign out",  destroy_user_session_path %>
      <% else %>
        <%= link_to "Sign up", users_sign_up_path %> or <%= link_to "Sign in", new_user_session_path %> or <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
      <% end %>
    </div>

      <div id="searchbar">
        <%= form_tag "/users/index" do %>
          <%= text_field_tag :name %>
          <%= submit_tag "Submit", :class => "button" %>
        <% end %>
      </div>

    <div id="list">
      <%= link_to "All users", users_list_path %>
    </div>
  </div>


  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn"><div><%= image_tag("notifications") %></div></button>
    <div id="myDropdown" class="dropdown-content">
    <ul>
    <% if @friend_requests %>
      <div id="headings">Friend Requests</div>
      <% @friend_requests.each do |note| %>
        <li>
          <%= note[0] %>
          <% if note[1] %>
            <%= form_for @friendship, url: friendships_create_path do |f| %>
              <div><%= f.hidden_field :friend_id, :value => note[1] %></div>
              <div><%= f.submit "Accept", :class => "accept" %>
            <% end %>
            <%= link_to "Delete Request", friendships_delete_request_path(note[1]), :class => "button" %></div>
          <% end %>
        </li>
      <% end %>
    <% end %>
    </ul>
    </div>
  </div>
</div>