<div id="navbar_parent">
  <div id="navbar">
    
    <% if user_signed_in? %>
      <div id="searchbar">
        <%= form_tag users_search_path do %>
          <%= text_field_tag :name, nil, :class => "text_field" %>
          <%= submit_tag "", :class => "button" %>
        <% end %>
      </div>

      <div class="login_options">
        Signed in as: <%= current_user.email %>
        <%= link_to "Sign out",  destroy_user_session_path(current_user.id), method: "DELETE" %>
        <%= link_to "All users", users_list_path %>
      </div>

    <% else %>

      <div id="navbar_reg_container">
        <div id="navbar_l_box">
          <%= image_tag("logo", id: "logo") %>
        </div>

        <div id="navbar_r_box">
          <div id="log_in">
            <%= render "devise/sessions/new" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <ul id="right_menu">
    
        <li class="right_options">
          <div id="gravatar_wrapper">
            <%= link_to gravatar_for(current_user), user_path(current_user.id), id: "home_button" %>
            <span id="user_name">
              <%= current_user.first_name %>
            </span>
          </div>
        </li>

        <li class="right_options" id="friends_button">
          <%= link_to image_tag("friends"), users_friends_path %>
        </li>

        <li class="dropdown">
          <button onclick="myFunction()" class="dropbtn"><div><%= image_tag("notifications") %></div></button>
          <div id="myDropdown" class="dropdown-content">

          <ul>

            <div id="fr_heading">Friend Requests</div>
            <% if @friend_requests && !@friend_requests.empty? %>
              <% @friend_requests.each do |note| %>
                <li>
                  <%= note[0] %>
                  <% if note[1] %>
                    <%= form_for @friendship do |f| %>
                      <div><%= f.hidden_field :friend_id, :value => note[1] %></div>
                      <div><%= f.submit "Accept", :class => "accept" %></div>
                    <% end %>
                    <%= form_tag friendships_delete_request_path, id: "delete_request" do %>
                      <%= hidden_field_tag :id, note[2] %>
                      <%= submit_tag "Delete request" %>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            <% else %>
              <li>
                <%= "No new friend requests" %>
              </li>
            <% end %>

            <div id="likes_heading">Likes</div>
            <% if @likes && !@likes.empty? %>
              <% @likes.each do |like| %>
                <li>
                  <%= like %>
                </li>
              <% end %>
            <% else %>
              <li>
                <%= "No new likes" %>
              </li>
            <% end %>
          </ul>
          </div>
        </li>

    </ul>
  <% end %>

  <div class="spacer">
    &nbsp;
  </div>
</div>