<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'css_reset', 'application', 'users', 'posts', 'user_form', 'profile_options', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if params[:controller] == 'static_pages' %>
      <%= stylesheet_link_tag params[:controller] %>
    <% end %>
    <%= stylesheet_link_tag 'wall_posts', title: 'wall_posts' %>
    <% if !user_signed_in? %>
      <%= stylesheet_link_tag 'registrations', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% else %>
      <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= javascript_include_tag 'application', 'likes', 'notifications', 'comment', 'text_value', 'message', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "navbar" %>

    <span class="flash">
      <%= flash[:alert].html_safe if flash[:alert] %>
      <%= flash[:notice].html_safe if flash[:notice] %>
      <%= flash[:error].html_safe if flash[:error] %>
    </span>

    <%= yield %>
  </body>
</html>
